nav {
     height: 45px; background-color: #333333; margin: 0 auto; position: fixed;width: 100%; top: 0; z-index: 2;
}

nav ul#menu-smobile {
    margin: 0; padding: 0; list-style: none; display: block;
}

nav ul#menu-desktop, nav ul#menu-lmobile {
    display: none;
}

nav ul#menu-smobile li {
    float: left; position: relative; text-align: center;
}

nav ul#menu-smobile li a {
    text-decoration: none; color: white; background-color: #333333; padding: 15px 0 15px 0; display: inline-block; width: 105px;
}       

nav ul#menu-smobile li#contatar a  {
    background-color: #262626; width: 112px; cursor: pointer;
}

h1{
    clear: both;
}

li.edit {
    font-size: 120%; font-family: cursive; color: brown; background-color: white;
}

img#eu {
    border: 2px solid #333333;
    border-radius: 36.1px;
    width: 287.4px;
    height: 389.7px;
    margin-bottom: 20px;
    clear: both;
    float: none;
}

img.geral {
    border: 2px solid #333333; 
    border-radius: 18.8px; 
    width: 405px; 
    height:228px; 
    clear: both; 
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#naruto {
    clear: both;
    border: 2px solid #333333;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 279px;
    height: 350px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#midoriya {
    clear: both;
    border: 2px solid #333333;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 275px;
    height: 470.7px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#link {
    clear: both;
    border: 2px solid #333333;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 250px;
    height: 316px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#hollow {
    clear: both;
    border: 2px solid #333333;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 277px;
    height: 306px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#foot p {
    margin-left: -30px; column-span: 1; border-right: 1px dashed white; align-content: center; text-align: center; font-size: 12px; color: white; padding: 25px 0 25px 0;
}
